.github/
.types/
.vscode/
examples/
node_modules/
src/
tests/
.eslintignore
.eslintrc.js
.gitignore
.lintstagedrc.js
.node-version
.npmignore
.prettierignore
.prettierrc
package-lock.json
rollup.config.build.js
rollup.config.declare.js
tsconfig.json
