.types/
.vscode/
dist/tests/
examples/
node_modules/
src/
tests/
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.prettierignore
.prettierrc
package-lock.json
rollup.config.build.js
rollup.config.declare.js
tsconfig.json
