name: Create release pull request

on:
  workflow_dispatch:
    inputs:
      versioning_strategy:
        description: Versioning Strategy
        required: true
        default: default
        type: choice
        options:
          - default
          - prerelease

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create_release_pull_request:
    if: inputs.versioning_strategy == 'default'
    permissions:
      contents: write
      pull-requests: write
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - name: Bump version and create pull request
        # Temporary fork until googleapis/release-please-action's release-please is updated to v17.1.0
        uses: dsktschy/release-please-action@42bc9866c4337dde1006a52a1e1d0a463277f068
        with:
          config-file: release-please-config.default.json
          skip-github-release: true
          target-branch: ${{ github.ref_name }}

  create_prerelease_pull_request:
    if: inputs.versioning_strategy == 'prerelease'
    permissions:
      contents: write
      pull-requests: write
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - name: Bump version and create pull request
        # Temporary fork until googleapis/release-please-action's release-please is updated to v17.1.0
        uses: dsktschy/release-please-action@42bc9866c4337dde1006a52a1e1d0a463277f068
        with:
          config-file: release-please-config.prerelease.json
          skip-github-release: true
          target-branch: ${{ github.ref_name }}
