name: Release

on:
  pull_request:
    types:
      - closed

jobs:
  release:
    if: >-
      github.event.pull_request.merged &&
      contains(github.event.pull_request.labels.*.name, 'autorelease: pending') &&
      contains(github.event.pull_request.labels.*.name, 'versioning_strategy: default')
    permissions:
      contents: write
      pull-requests: write
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - name: Publish tag and release
        # Temporary fork until googleapis/release-please-action's release-please is updated to v17.1.0
        uses: dsktschy/release-please-action@42bc9866c4337dde1006a52a1e1d0a463277f068
        with:
          config-file: release-please-config.default.json
          skip-github-pull-request: true
          target-branch: ${{ github.event.pull_request.base.ref }}

  prerelease:
    if: >-
      github.event.pull_request.merged &&
      contains(github.event.pull_request.labels.*.name, 'autorelease: pending') &&
      contains(github.event.pull_request.labels.*.name, 'versioning_strategy: prerelease')
    permissions:
      contents: write
      pull-requests: write
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - name: Publish tag and release
        # Temporary fork until googleapis/release-please-action's release-please is updated to v17.1.0
        uses: dsktschy/release-please-action@42bc9866c4337dde1006a52a1e1d0a463277f068
        with:
          config-file: release-please-config.prerelease.json
          skip-github-pull-request: true
          target-branch: ${{ github.event.pull_request.base.ref }}
