name: Release

on:
  pull_request:
    types:
      - closed

jobs:
  release:
    if: >-
      github.event.pull_request.merged &&
      contains(github.event.pull_request.labels.*.name, 'autorelease: pending') &&
      contains(github.event.pull_request.labels.*.name, 'versioning_strategy: default')
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Publish tag and release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # 4.4.0
        with:
          config-file: release-please-config.default.json
          skip-github-pull-request: true
          target-branch: ${{ github.event.pull_request.base.ref }}

  prerelease:
    if: >-
      github.event.pull_request.merged &&
      contains(github.event.pull_request.labels.*.name, 'autorelease: pending') &&
      contains(github.event.pull_request.labels.*.name, 'versioning_strategy: prerelease')
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Publish tag and release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # 4.4.0
        with:
          config-file: release-please-config.prerelease.json
          skip-github-pull-request: true
          target-branch: ${{ github.event.pull_request.base.ref }}
